body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFA;
    font-family: 'Staatliches', cursive;
}

header {
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
    margin: 40px;
    color: #080705;
}

#mainBody {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap-reverse;

}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 50px 80px 50px -250px;
}

button{
    height: 50px;
    width: 200px;
    border: 0cm;
    border: solid #40434E;
    background-color: #FFFFFA;
    color: black;
    border-radius: 8px;
}

.gridContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    width: 500px;
}

.rowContainer{
    display: flex;
}

.gridBox{
    background-color: rgb(255, 255, 255);
}